.content__container{
    margin-top: -525px;
    margin-left: 255px;
    width: 990px;
    height: 525px;
    padding: 20px;
    background-color: #134070;
    border-radius: 30px;   
}
.content__my__logo{
    display: block;
    margin-left: 115px;
    margin-top: -90px;
}
.content__about{
    margin-left: 120px;
    width: 450px;
    box-shadow: 3px 3px #76e3f4;
    
}
.content__img{
margin-left: 650px;
margin-top: -330px;
}

