.erfarenheter__container{
    margin-top: -525px;
    margin-left: 255px;
    width: 990px;
    height: 525px;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 80px; 
    flex-direction: column;
    border-radius: 30px;   
}

.erfarenheter_item1{
    margin-left: 220px;
    width: 450px;
    padding: 20px;
    box-shadow: 3px 3px 3px 3px #76e3f4;
    
}
.erfarenheter__container--dark{
    background-color: black;
}