.Fardigheter__container{
    margin-top: -525px;
    margin-left: 255px;
    width: 990px;
    height: 525px;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    flex-direction: column;
    border-radius: 30px;   
}

.fardigheter_utb{
    margin-top: 90px;
    margin-left: 120px;
    width: 200px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #76e3f4;
    
}
.fadigheter_fard_pic{
    margin-top: -210px;
    margin-left: 400px;
    width: 100px;
    padding: 20px;
    /* box-shadow:3px 3px #76e3f4; */
}
.Fardigheter__container--dark{
    background-color: black;
}